{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
    <div class="card mb-" style="max-width: 100%;height:50rem;margin-top: 40px;background-color: #dcdde1">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ album.image.url }}" class="img-fluid rounded-start" alt="..."
                     style="height: 320px;width: 600px;padding-top: 10px;padding-left: 10px">
            </div>
            <div class="col-md-8">
                <div class="card-body" style="font-weight: bold;font-size: 18px;">
                    <h5 class="card-title"
                        style="text-align: center;font-weight: bold;font-size: 60px">{{ album.name }}</h5>
                    <hr>
                    <p class="card-text p-3 mb-2 bg-dark text-white rounded mybtn">Artist: {{ album.artist.name }}</p>
                    <p class="card-text p-3 mb-2 bg-dark text-white rounded mybtn">Genre: {{ album.artist.genre }}</p>
                    <p class="card-text p-3 mb-2 bg-dark text-white rounded mybtn">Price: {{ album.price }} $</p>
                </div>
            </div>
            <h1 style="text-align: center;">About Group</h1>
        </div>
        <div style="height: 100%;padding-left: 10px;padding-right: 10px;">
            <p style="font-size: 20px">{{ album.description }}</p>
        </div>
        <div>
            <p class="card-text" style="font-size: 30px;margin: 20px 0 20px 940px;"><small class="text-muted">Release
                Date: {{ album.release_date }}</small></p>
        </div>
    </div>
{% endblock content %}
</body>
</html>